.container {
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}

.productsList {
    display: flex;
    gap: 1rem;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.leters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.name {
    padding: 7px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.description {
    padding: 7px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;
}

.numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.price {
    padding: 7px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.stock {
    padding: 7px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttons {
    display: flex;
    gap: .5rem;
}

.edit {
    border-radius: 10px;
    padding: 10px;
    background-color: #1e90ff;
    color: white;
    width: 80px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    height: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
}

.delete {
    border-radius: 10px;
    padding: 10px;
    background-color: #fe3d4e;
    color: white;
    width: 100px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}