.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.label {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-self: flex-start;
}

.input {
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px;
    width: 300px;
}

.input:focus {
    outline: none;
}

.textarea {
    width: 300px;
    height: 100px;
    font-family: 'Calibri', sans-serif;
    font-size: 15px;
    resize: none;
}

.button {
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    background-color: #272727;
    cursor: pointer;
}

.errorText {
    color: #ff0000;
    font-weight: bold;
}

.successMessage {
    color: #2dcc70;
    font-weight: bold;
}

.errorMessage {
    color: #ff0000;
    font-weight: bold;
    padding: 0;
    margin: 0;
}