.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

.notFundTitle {
  font-size: 5rem;
  font-weight: bold;
}

.notFoundP1 {
  font-size: 3rem;
  font-weight: bold;
}

.notFoundP2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}