.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: red;
    margin: 50px;
    font-size: 80px;
    height: 100px;
    font-weight: bold;
  }