.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.title {
    font-size: 5rem;
    font-weight: bold;
}

.errorMessage {
    font-size: 3rem;
    font-weight: bold;
}

.paragraph {
    font-size: 1.5rem;
    margin-top: 1rem;
}