.product {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product > div {
    padding: 1rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.product > img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.product .view-more {
    text-decoration: none;
    background-color: #272727;
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
}

.product .view-more:hover {
    background-color: #737373;
}