.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.paragraph {
    width: 800px;
}

.about-us {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}