.div-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #272727;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

.navList {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navList li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
}

.liRankingClass {
    color: #ffffff;
    cursor: pointer;
}

.openMenu,
.closeMenu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.openMenu {
    color: #ffffff;
}

.closeMenu {
    color: #ffffff;
    align-self: end;
}

.navClass {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #272727;
    padding: 1.1rem;
    width: 11rem;
}

.navClass.visible {
    opacity: 1;
    visibility: visible;
}

.navList {
    flex-direction: column;
    align-items: center;
}

.navList li a {
    color: #ecececec;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.navList li a:hover {
    background-color: #737373;
}

.img-nav {
    width: 2rem;
    height: 2rem;
}