.loginDivContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
}

.loginDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    gap: 1rem;
}

.loginTitle {
    font-size: 2rem;
    font-weight: bold;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginInput {
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
}

.loginInput:focus {
    outline: none;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.loginLabel {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-self: flex-start;
}

.loginButton {
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100px;
    height: 30px;
    background-color: #1e90ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #cccccc;
    color: white;
}

.loginButton:active {
    background-color: #000;
    color: white;
}

.loginErrorMessageContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginErrorMessage {
    color: #ff0000;
    margin-top: 10px;
    display: none;
}